<header id="header">
    <div class="container grid-lg">
        <nav class="navbar">
            <div class="navbar-section logo">
                <a href="https://cmclinnovations.com/">
                    <img src="/demos/zaha/static/img/cmcl.svg" style="padding-bottom: 10px" alt="CMCL" />
                </a>
                <a href="https://como.ceb.cam.ac.uk">
                    <img src="/demos/zaha/static/img/como_logo_processed.svg" alt="CoMo" />
                </a>
                <a href="https://www.cares.cam.ac.uk">
                    <img src="/demos/zaha/static/img/cares_short_logo_processed.svg" alt="CARES" />
                </a>
            </div>
        </nav>
    </div>
</header>
