<footer id="footer" style="margin-top: 2rem; padding-top: 10px; border-top: 1px solid LightGrey;">
    <div class="three-quarter-width">
        <p>This content was developed, tested, and documented by the following commercial and academic
            partners. For more information on each institution, please follow the links listed below.</p>

        <table class="partner-table" style="padding-top: 10px;">
            <tr>
                <td width="33%">
                    <a href="https://cmcl.io">
                        <img src="/demos/zaha/static/img/cmcl.svg" width="100" alt="CMCL">
                    </a>
                </td>
                <td width="33%">
                    <a href="https://como.ceb.cam.ac.uk">
                        <img src="/demos/zaha/static/img/como-logo.png" width="85" alt="CoMo">
                    </a>
                </td>
                <td width="33%">
                    <a href="https://cares.cam.ac.uk">
                        <img src="/demos/zaha/static/img/cares-logo.png" width="100" alt="CARES">
                    </a>
                </td>
            </tr>
            <tr style="font-size: 80%;">
                <td width="33%">
                    <span>CMCL</span><br>
                    <a href="https://cmcl.io">cmcl.io</a>
                </td>
                <td width="33%">
                    <span>Computational Modelling Group</span><br>
                    <a href="https://como.ceb.cam.ac.uk">como.ceb.cam.ac.uk</a>
                </td>
                <td width="33%">
                    <span>Cambridge CARES</span><br>
                    <a href="https://cares.cam.ac.uk">cares.cam.ac.uk</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="all-rights-reserved">
        Part of <a href="https://theworldavatar.io/">The World Avatar</a> · All Rights Reserved.
    </div>
</footer>
